<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

# Assessment Data Science
## Data Science Tools Coursera IBM

**Andrés Felipe Flórez Caro**

This is the asssesment for the course ***Tools for data science***

### Languages for Data Science

Soma languages for data science:
- Python
- R
- SQL
- Scala
- Java

Among others..

### Libraries for Data Science

Soma libraries for data science:

For Python

- PANDAS → Data structures and tools
- NumPY → Arrays and matrices
- Matplotlib → plots and graphs
- Seaborn
- Scikit learn
- Keras → Deep Learning Neura Networks
- TensorFlow
- Pytorch


For R

- dplyr → Data manipulation
- stringr → String manipulation
- ggplot → Data visualization
- caret → Machine Learning
Among others..

### Data Science Tools

Some tools for data science

| stage | tool |
|-----|------|
| Data management | Relational Databases(oracle, sqlserver, ...) | 
| Data management | NoSQL Databases (mongo, dynamo, ...) | 
| Data integration and transformation | Apache airflow | 
| Data integration and transformation | Spark SQL | 
| Data visualization | Kibana | 
| Data visualization | PowerBI| 
| Model deployment | Tensorflow | 
| Model deployment | SPSS | 
| Model monitoring and assesment | ModelDB | 
| Model monitoring and assesment | Prometheus | 
| Code Asset Management | Git - GitHub - GitLab |
| Development environments | Jupyter Notebooks |
| Development environments | RStudio |
| Execution environments | Apache Spark |
| Fully Integrated Visual Tools | Knime |
| Fully Integrated Visual Tools | Watson Studio |

In [8]:
# arithmetic expression examples
# fibonacci sequence for 10 iterations
a, b = 0, 1
for i in range(10):
    print(a)
    a, b = b, a+b

0
1
1
2
3
5
8
13
21
34

In [10]:
# code cell to multiply and add numbers
a = 1
b = 2
c = 5

d = 1 + 2
d *= c
print(d)

15

In [21]:
# code cell to convert minutes to hours. 
def minutes_to_hours(minutes):
    return minutes/60

minutes_to_hours(240)

4.0

### Objectives

* Learn about multiple data science tools, both open source and commercial
* Continue with IBM data science route

Author: ***Andrés Felipe Flórez Caro***

Paipa - Boyacá - Colombia